@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	3.1 - Main Menu
	3.2 - Sub Menu
	3.3 - Footer Menu
3.0 - Content
	3.1 - Site Structure (Site Header, Advertisement, Site Footer)
	3.2 - Section Name
	3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
6.0 - Misc Junk 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
0.0 - Target All/General Styls
-------------------------------------------------------------- */
body {
	background-color: #f7f8f8;
	color: #46454a;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
* {
	 -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
  /* 1.2 - Body Copy */
h1, h2, .btn {
  text-align: center;
}
h1, h2, h3, h3, h4, #hero p:first-child, .btn, li {
  text-transform: uppercase;
}
h2, h3 {
  font-weight: 700;
}
h4 {
	margin: 0;
}
#hero p, .btn-primary, li a, .team, body > footer {
	color: #fff;
}
#hero p {
    margin-bottom: 50px;
    font-size: 1.5em;
}
#hero p:first-child {
	font-size: 3.750em;
	font-weight: 700;
	margin: 200px 0 16px 0;
}
  /* 1.3 - Buttons */
.team ul {
	padding-left: 0;
}
.btn {
	padding: 14px;
	font-size: 1.25em;
	text-decoration: none;
}
.btn-secondary {
	background-color: #fff;
	color: #394754;
	}
	
.btn-primary:hover, .btn-secondary:hover {
	background-color: #00d4c7;
	color: #394754;
}
a:hover.btn {
	border: none;
}
  /* 1.4 - Forms */
  /* 1.5 - Lists */
ul {
  list-style-type: none;
}
li {
  display: inline;
  margin-right: 20px;
}
li a {
	text-decoration: none;
	border-bottom: 2px solid transparent;
	 vertical-align:-32px;
}
li a:hover {
	border-bottom: 2px solid #fff;
}
li:last-child {
	margin: 0;
}
footer li a{
  font-size: 15px;
}
  /* 1.6 - Tables */
  
/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */
  /* 3.2 - Sub Menu */
  /* 3.3 - Footer Menu */
/*--------------------------------------------------------------
3.0 - Content
-------------------------------------------------------------- */
  /* 3.1 - Site Structure (Site Header, Advertisement, Site Footer) */
.wrapper {
	margin: 0 auto;
	width: 75%;
	max-width: 1024px;
}
.row {
	overflow: auto;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
[class*="col-"] {
	float: left;
	padding-right: 20px;
	margin-bottom: 10px;
}
[class*="col-"]:last-of-type {
	padding-right: 0;
}
body > header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

.padding-btm {
	padding-bottom: 20px;
}
/* ***********************************
			RESPONVSIVE GRID MAGIC
 ************************************* */

 
/* ***********************************
			Columns
 ************************************* */
.col-1-1 {
	width: 100%;
}
.col-1-2 {
	width: 50%;
}
.col-1-3 {
	width: 33.33%;
}
.col-1-4 {
	width: 25%;
}
.col-1-5 {
	width: 20%;
}
.col-1-6 {
	width: 16.66%;
}
.col-1-7 {
	width: 14.28%;
}
.col-1-8 {
	width: 12.5%;
}
.col-1-9 {
	width: 11.11%;
}
.col-1-10 {
	width: 10%;
}
.col-1-11 {
	width: 9.09%;
}
.col-1-12 {
	width: 8.33%;
}


/* ***********************************
			FRACTIONS
 ************************************* */
.col-2-3 {
	width: 66.66%;
}
.col-3-4 {
	width: 75%;
}
.col-2-5 {
	width: 40%;
}
.col-3-5 {
	width: 60%;
}
.col-5-6 {
	width: 83.33%;
}
.col-5-7 {
	width: 71.42%;
}
.col-2-7 {
	width: 28.57%;
}
.col-7-8 {
	width: 87.5%;
}
.col-8-9 {
	width: 88.88%;
}
.col-9-10 {
	width: 90%;
}
.col-2-11 {
	width: 18.18%;
}
.col-9-11 {
	width: 81.81%;
}
.col-11-12 {
	width: 91.66%;
}
 
 .pull-right {
	 float: right;
 }
/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */
img {
	width: 100%;
}
body > header img {
	width: 70%;
}
body > footer img {
	width: 60%;
	margin-top: 30px;
}
#hero {
	padding-bottom: 100px;
	background-image: url("../img/hero-bg.jpg");
	margin-top: 112px;
}
#john-doe {
	background-image: url("../img/john-2.jpg");
}
#jane-doe {
	background-image: url("../img/jane-smith.jpg");
}
#mary-smith {
	background-image: url("../img/mary-smith.jpg");
}
#jon-smith {
	background-image: url("../img/jon-smith.jpg");
}
#john-doe, #jane-doe, #mary-smith, #jon-smith, #hero {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
}
#john-doe, #jane-doe, #mary-smith, #jon-smith {
	padding: 60px;
}
/*--------------------------------------------------------------
5.0 - Utility
-------------------------------------------------------------- */
  /* 5.1 - Background Colors */
.white {
	background-color: #fff;
}
.black {
	background-color: #394754;
	min-height: 50px;
}
.red {
	background-color: #ed2431;
	min-height: 50px;
}
.light {
	background-color: grey;
	min-height: 50px;
}
.green, .btn-primary {
	background-color: #00b1ab;
	min-height: 50px;
}
body > footer {
	padding: 30px;
}
.col-center {
	float: none;
	margin: 0 auto;
}
  /* 5.2 - Text Colors */
  /* 5.3 - Text Sizes */
  /* 5.4 - Alignments */
  



/*--------------------------------------------------------------
@Media Queries
-------------------------------------------------------------- */
/* @Media */
@media (max-width: 480px) {
	
/*--------------------------------------------------------------
0.0 - Target All/General Styls
-------------------------------------------------------------- */

/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
  /* 1.2 - Body Copy */
	#hero, #hero p {
		text-align:  center;
		font-size: 1.0em;
	}
	footer p, body > footer .col-1-4 {
		text-align: center;
	}
	p {
		line-height: 1.5em;
	}
  /* 1.3 - Buttons */
	li a {
		vertical-align: 0;
	}
	.btn {
		padding: 10px;
		font-size: 1.0em;
	}  /* 1.4 - Forms */
  /* 1.5 - Lists */
	ul {
		padding: 0;
		text-align: center;
	}

	.team ul {
		text-align: left;
	}
  /* 1.6 - Tables */
  
/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */
  /* 3.2 - Sub Menu */
  /* 3.3 - Footer Menu */
/*--------------------------------------------------------------
3.0 - Content
-------------------------------------------------------------- */
  /* 3.1 - Site Structure (Site Header, Advertisement, Site Footer) */
	.wrapper {
		width: 95%;
	}
	.col-1-4.col-sm, .col-1-8.col-sm {
		width: 25%;
	}
	.col-1-8 {
		width: 80%;
	}
	.col-1-4, .col-3-4, .col-1-6, .col-5-6, .col-1-10 {
		width: 50%;
	}
	.col-2-11, .col-9-11, .col-1-9, .col-8-9, .col-1-7, .col-1-11 {
		width: 100%;
	}
	.col-1-8, .col-1-12, .col-1-6.col-sm, .col-1-10.col-sm {
		width: 33.33%;
	}
	.col-7-8, .col-9-10, .col-11-12 {
	  width: 66.66%;
	}
	.col-1-4:nth-child(2), .col-2-11, .col-9-11, .col-1-9, .col-8-9, .col-1-7, .col-1-8:nth-child(4), .col-1-6:nth-child(3), .col-1-11, .col-1-12:nth-child(3), .col-1-12:nth-child(6), .col-1-12:nth-child(9), .col-1-10:nth-child(even) {
		padding-right: 0;
	}
	#work .col-1-4 {
		min-height: 350px;
	}
	#logo {
		float: none;
		margin: 0 auto;
	}
	nav.col-1-3 {
		width: 100%;
	}
	.col-2-3 {
		width: 100%;
	}
	body > footer .col-1-4 {
		width: 70%;
	}
	nav ul.pull-right {
		float: none;
	}
	footer .col-1-4, footer .pull-right {
		float: none;
		margin: 0 auto;
	}

	.team .col-1-2 {
		width: 100%;
	}
/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */
	body > footer img {
		width: 60%;
		float: none;
		margin: 0 auto;
	}
	#john-doe, #jane-doe, #mary-smith, #jon-smith {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		background-size: cover;
		background-position: 515px;
	}
/*--------------------------------------------------------------
5.0 - Utility
-------------------------------------------------------------- */
  /* 5.1 - Background Colors */
	.black {
		background-color: #46454a;
	}
  /* 5.2 - Text Colors */
  /* 5.3 - Text Sizes */
  /* 5.4 - Alignments */
  
/*--------------------------------------------------------------
6.0 - Misc Junk here
-------------------------------------------------------------- */

}